<div class="content">
  <div class="row">
    <div class="col-md-offset-2 col-md-9">
      <table class="table">
        {{#books}}
          <div class="row bookHolder">
            <div class="col-md-3  photoHolder">
              <a href="/books/{{this.id}}"><img class="coverThumbnail" src="{{this.cover_url}}" alt="{{this.title}}"/></a>
            </div>
            <div class="col-md-8">
              <h2><a href="/books/{{this.id}}">{{this.title}}</a></h2>
              by: {{this.first}} {{this.last}}<br>
              {{this.genre}}<br>
              {{this.description}}
            </div>
            <div class="col-md-1">
              <a href="/books/edit/{{this.id}}" alt="edit"><span class="editDelete glyphicon glyphicon-edit" aria-hidden="true"></span></a><br>
              <a href="/books/delete/{{this.id}}" alt="delete"><span class="editDelete glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
          </div>
        {{/books}}
      </table>
    </div>
  </div>
</div>


{{#if count}}
<div class="bookCount">
  Total Books: {{count.count}}
</div>
{{/if}}


<div class="form-group limit">
  <label for="limitDropdown">Display Results:</label>
  <select class="form-control" id="limitDropdown">
    <option value="1">1</option>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="Show All" selected>Show All</option>
  </select>
</div>

<a href="/books/new"><div class="addBookButton">Create New Book</div></a>

<a href="/authors">
<div class="authorsBar">
  <div class="vertical-text">
    Authors
  </div>
</div>
</a>

<a href="/books">
<div class="booksBar ">
  <div class="vertical-text">
    Books
  </div>
</div>
</a>
