<div class="content">
  <div class="row">
    <div class="col-md-offset-2 col-md-9">
      {{#book}}
        <div class="row bookHolder">
          <div class="col-md-3  photoHolder">
            <a href="/books/{{this.book.id}}"><img class="coverThumbnail" src="{{this.book.cover_url}}" alt="{{this.book.title}}"/></a>
          </div>
          <div class="col-md-8">
            <h2><a href="/books/{{this.book.id}}">{{this.book.title}}</a></h2>
            by:
              {{#this.authors}}
              <a href="/authors/{{this.id}}">{{this.first}} {{this.last}}</a>,
              {{/this.authors}}
            <br>
            Genre: {{this.book.genre}}<br>
            {{this.book.description}}
          </div>
          <div class="col-md-1">
          </div>
        </div>
      {{/book}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-10">
      <a href="/books/deleteBook/{{book.book.id}}"><button type="button" class="btn-primary" name="button">Delete this book</button></a>
    </div>
  </div>
</div>


<a href="/authors">
<div class="authorsBar">
  <div class="vertical-text">
    Authors
  </div>
</div>
</a>

<a href="/books">
<div class="booksBar ">
  <div class="vertical-text">
    Books
  </div>
</div>
</a>
